<!DOCTYPE html>
<html lang="">
	<head>
		<%-include(head) %>
	</head>
	<body>
		<%-include(header) %>
		<h1 class="text-center"><%=title %></h1>
		<%-include(footer) %>
		<%-include(scripts) %>
	</body>
</html>