<!DOCTYPE html>
<html lang="">

<head>
	<%-include(head) %>
	<link rel="stylesheet" href="css/appManager.css">
</head>

<body>
	<%-include(header) %>
	<%-include(body) %>
	<!-- /Metro style -->
	<%-include(scripts) %>
	<div id="phasebeam">
		<canvas width="700" height="650"></canvas>
		<canvas width="700" height="650"></canvas>
		<canvas width="700" height="650"></canvas>
	</div>
	<script type="text/javascript" src="js/phasebeam.js"></script>				
	<%-include(footer) %>					
</body>

</html>